@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin: 0;
}

.container {
  width: 570px;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.article-text {
  font-size: 16px;
  margin-top: 5px;
}

.accent-text {
  display: block;
}

.accent-text,
.name,
time {
  font-weight: 900;
  color: #99d930;
}

h1 .accent-text {
  font-size: 80px;
}

h2 .accent-text {
  font-size: 60px;
}

h1 span {
  font-size: 80px;
}

h2 span {
  font-size: 60px;
}

a {
  color: #99d930;
}

a:hover {
  color: #131313;
}

.inverse {
  color: #fff;
  background-color: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
  background-color: #fff;
  color: #252525;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 900;
  background-color: #99d930;
  color: #252525;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover,
.btn:focus {
  background-color: #252525;
  color: #fff;
}
